/* IE HACK */

/* FRONTPAGE */
/* il tag "body.pagelayout-frontpage" permette di puntare alle pagine che vengono prese da frontpage.php */
#page {
width: 76%;
min-width: 1000px;
margin: 0 auto!important;
}
z.block.header{behavior:url(/theme/fiware/css/pie.htc)!important;}
body.pagelayout-frontpage .forumpost .row {
	width: 100%;
	position: relative;
	margin-top: 0px;
	margin-left: 1px;
}
body.pagelayout-frontpage button, body.pagelayout-frontpage input[type="button"], body.pagelayout-frontpage input[type="reset"], body.pagelayout-frontpage input[type="submit"] {
margin-left: 0px;
margin-top: 0px!important;
position: relative!important;
display: inline!important;
}
body.pagelayout-frontpage .content .posting.shortenedpost a {
	margin-right: 18px;
	font-size: 11px;
	display: inline-block;
	margin-bottom: 0;
	line-height: 18px;
	cursor: pointer;
	color: #0093C6;
}

body.pagelayout-frontpage .forumpost {
margin-left: 1%;
margin-right: 0;
position: relative;
width: 45.5%;
float: left;
padding: 13px 11px 5px 4px;
border: 1px solid #F3F3F3;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
behavior: url(/theme/fiware/css/pie.htc);
max-height: 450px;
}

@font-face {
    font-family: "NeoTechStd_Medium";
    src: url("/theme/fiware/fonts/NeoTechStd-Medium.otf");    
} 

body.pagelayout-frontpage .benvenuto{ 
	color: #002d6a;
	font-size: 24px !important; margin-top: 10px;width: 97%;
	font-family: "NeoTechStd_Regular" !important;
}
.categorylist .category .name a {
	font-size: 13px!important;
	font-family: Verdana!important;
	font-weight: normal!important;
}

body.pagelayout-frontpage .row .maincontent .clearfix { max-height:310px }

body.pagelayout-frontpage .author, body.pagelayout-frontpage .left.picture { display:none; }

body.pagelayout-frontpage .left{ width:0px !important; }

body.pagelayout-frontpage .row, body.pagelayout-frontpage  .topic.firstpost.starter { margin-left: 0px; }

body.pagelayout-frontpage .forumpost .topic {
	background: none !important;
	border-bottom: none !important;
}

body.pagelayout-frontpage .forumpost .topic .subject {
	font-size: 11px;
	color: #0093C6;
	position: absolute;
	margin-top: 188px;
	font-weight: bold;
}

body.pagelayout-frontpage .options.clearfix{display:none;}
body.pagelayout-frontpage .subscribelink{display:none;}
body.pagelayout-frontpage .forumolddiscuss{display:none;}
body.pagelayout-frontpage .posting.fullpost {
	max-height: 255px;
overflow: hidden !important;
margin-top: -25px;
}
body.pagelayout-frontpage .posting .fullpost .box .p {
	margin-top: 25px !important;
}
body.pagelayout-frontpage .content .posting.shortenedpost {
	overflow: hidden;
	max-height: 200px;
	margin-top: 200px;
}
body.pagelayout-frontpage #insert {
	font-size: 11px;
	display: inline-block;
	padding: 3px 20px 2px;
	margin-bottom: 10px;
	margin-left: 3px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	/*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	behavior: url(/theme/fiware/css/pie.htc);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
	border: 1px solid #50BCBC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #56CCCC #56CCCC #50BCBC;
	border-bottom-color: #4BB2B2;
	background-color: #0093C6;
	background:none !important;
}
body.pagelayout-frontpage #cancel {
	font-size: 11px;
	display: inline-block;
	padding: 3px 20px 2px;
	margin-bottom: 10px;
	margin-left: 3px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	/*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	behavior: url(/theme/fiware/css/pie.htc);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
	border: 1px solid #50BCBC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #56CCCC #56CCCC #50BCBC;
	border-bottom-color: #4BB2B2;
	background-color: #0093C6; float: right;
	background:none !important;
}
body.pagelayout-frontpage .content .posting.shortenedpost p img {
	/*height: 143px !important;*/
	position: absolute;
	margin-top: -200px;
	overflow: visible;
	width: 250px;
}

body.pagelayout-frontpage #page-content #region-main { margin-left: 420px !important; }

/* era in general */
/* il tag "body .fiware-custom-bclass" indica quando c'è la condizione "($hassidepre && $hassidepost)" */

body.fiware-custom-bclass #page-content #region-main {
	margin-left: 410px;
margin-right: auto;
padding-right: 10px;
min-width: 53%;
}
body.fiware-custom-bclass #page-content {
	margin-top: 0px;
}
body.fiware-custom-bclass .block_course_overview.block {
	width: 580px;
}
body.fiware-custom-bclass .block_course_overview.block .header{ background-color:transparent!important; }
body.fiware-custom-bclass .block_course_overview.block .header .block_action{ display:none!important; }
body.fiware-custom-bclass .block_course_overview.block .content{ background-color:transparent!important; }
body.fiware-custom-bclass .course_title .title{ background-color:transparent!important; color:#0093C6; font-size: 16px!important; }
body.fiware-custom-bclass .block_course_overview.block .header h2{ background-color:transparent!important; font-size: 20px!important; width:190px!important;font-family: "NeoTechStd_Medium"!important; color:#000000!important;}

body.fiware-custom-bclass .block .header {
border-width: 0 0px;

}
body.fiware-custom-bclass .block .content {
border-width: 0 0px;
}
#insert {
font-size: 11px;
display: inline-block;
padding: 3px 20px 2px;
margin-bottom: 10px;
margin-left: 3px;
line-height: 18px;
text-align: center;
vertical-align: middle;
cursor: pointer;
/*
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
*/
behavior: url(/theme/fiware/css/pie.htc);
color: white;
text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
border: 1px solid #50BCBC;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-color: #56CCCC #56CCCC #50BCBC;
border-bottom-color: #4BB2B2;
background-color: #0093C6;
background:none!important;
}
body.fiware-custom-bclass #cancel {
font-size: 11px;
display: inline-block;
padding: 3px 20px 2px;
margin-bottom: 10px;
margin-left: 3px;
line-height: 18px;
text-align: center;
vertical-align: middle;
cursor: pointer;
/*
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
*/
behavior: url(/theme/fiware/css/pie.htc);
color: white;
text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
border: 1px solid #50BCBC;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-color: #56CCCC #56CCCC #50BCBC;
border-bottom-color: #4BB2B2;
background-color: #0093C6;float: right;
background:none!important;
}
.body.fiware-custom-bclass forumpost .topic {
background: white!important;
border-bottom: 2px solid #DDD!important;
padding-left: 7px;
}

/* il tag "body.side-pre-only" indica quando c'è la condizione "($hassidepre && !$hassidepost)" */

body.side-pre-only h2.main, body.side-pre-only h3.main, body.side-pre-only h4.main {
	text-align: left!important;
	padding: 0.5em 0 1em;
	margin: 0;
}
body.side-pre-only .info {
	margin-left: 0px;
	margin-right: 12px;
	font-size: 18px;
	font-family:Verdana;
}
body.side-pre-only .coursebox .summary {
float: right;
text-align: left;
width: 100%;
}
body.side-pre-only #page-content #region-main {
margin-left: 220px!important;
width: 77%!important;
}

body.side-pre-only #page-content {
margin-top: 0px;
}
body.side-pre-only .block_course_overview.block {
width: 580px;
margin-left: 160px;
}
body.side-pre-only .block_course_overview.block .header{ background-color:transparent!important; }
body.side-pre-only .block_course_overview.block .header .block_action{ display:none!important; }
body.side-pre-only .block_course_overview.block .content{ background-color:transparent!important; }
body.side-pre-only .block_course_overview.block .header .title{ background-color:transparent!important; color:#0093C6 }
body.side-pre-only .block .header { border-width:0; }
body.side-pre-only .block .content {
	border-width: 0 0px;
	padding: 5px 5px!important;
}
body.side-pre-only .forumpost {
	display: block;
	position: relative;
	width: 95%;
	float: left;
	padding: 1px 1px 3px 1px;
	margin-right: 6px;
	margin-left: 14px;
	border: 1px solid #F3F3F3;
	/*
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	*/
	behavior: url(/theme/fiware/css/pie.htc);
}
body.side-pre-only #page-mod-forum-discuss .discussioncontrols .discussioncontrol {
	width: auto!important;
	float: left;
}
body.side-pre-only .discussioncontrol.displaymode{
	position: relative;
	margin-top: -26px;
	margin-right: 9px;
	float: right;
}

body.side-pre-only #page-content #region-main {
	margin-left: 420px;
	width: 560px;
}
body.side-pre-only #page-content {
	margin-top: 0px;
}
body.side-pre-only .block_course_overview.block {
	width: 580px;
	margin-left: 160px;
}
body.side-pre-only .block_course_overview.block .header{ background-color:transparent!important; }
body.side-pre-only .block_course_overview.block .header .block_action{ display:none!important; }
body.side-pre-only .block_course_overview.block .content{ background-color:transparent!important; }
body.side-pre-only .block_course_overview.block .header .title{ background-color:transparent!important; color:#0093C6 }
body.side-pre-only .block .header {
	border-width: 0 0px;
}
body.side-pre-only .block .content {
	border-width: 0 0px;
float: left;
width: 200px;
}

/* il tag "body.pagelayout-report" indica i report */
body.pagelayout-report #page {
width: 76%;
min-width: 980px;
margin: 0 auto!important;
}
body.pagelayout-report h2.main, body.pagelayout-report h3.main, body.pagelayout-report h4.main {
	text-align: left!important;
	padding: 0.5em 0 1em;
	margin: 0;
}
body.pagelayout-report .info {
	margin-left: 0px;
	margin-right: 12px;
	font-size: 18px;
	font-family:Verdana;
}

body.pagelayout-report .coursebox .summary {
	float: right;
	text-align: left;
	width: 100%;
}

body.pagelayout-report #page-content #region-main {
	margin-left: 220px!important;
	width: 770px;
}

body.pagelayout-report #page-content { margin-top: 0px; }
body.pagelayout-report .block_course_overview.block {
	width: 580px;
	margin-left: 160px;
}
body.pagelayout-report .block_course_overview.block .header{ background-color:transparent!important; }
body.pagelayout-report .block_course_overview.block .header .block_action{ display:none!important; }
body.pagelayout-report .block_course_overview.block .content{ background-color:transparent!important; }
body.pagelayout-report .block_course_overview.block .header .title{ background-color:transparent!important; color:#0093C6 }
body.pagelayout-report .block .header { border-width: 0 0px; }
body.pagelayout-report .block .content { border-width: 0 0px; }
body.pagelayout-report .forumpost {
	display: block;
	position: relative;
	width: 750px;
	float: left;
	padding: 1px 1px 3px 1px;
	margin-right: 6px;
	margin-left: 14px;
	border: 1px solid #F3F3F3;
	/*
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	*/
	behavior: url(/theme/fiware/css/pie.htc);
}
body.pagelayout-report body.pagelayout-report #page-mod-forum-discuss .discussioncontrols .discussioncontrol {
	width: auto!important;
	float: left;
}
body.pagelayout-report .discussioncontrol.displaymode{
	position: relative;
	margin-top: -26px;
	margin-right: 9px;
	float: right;
}
body.pagelayout-report #page-content #region-main {
	margin-left: 420px;
	width: 560px;
}
body.pagelayout-report #page-content { 	margin-top: 0px; }
body.pagelayout-report .block_course_overview.block { width: 580px; }
body.pagelayout-report .block_course_overview.block .header{ background-color:transparent!important; }
body.pagelayout-report .block_course_overview.block .header .block_action{ display:none!important; }
body.pagelayout-report .block_course_overview.block .content{ background-color:transparent!important; }
body.pagelayout-report .course_title .title{ background-color:transparent!important; color:#0093C6; font-size: 16px!important; }
body.pagelayout-report .block_course_overview.block .header h2{ background-color:transparent!important; color:#0093C6!important;  font-size: 20px!important; width:190px!important;}
body.pagelayout-report .block .header { border-width: 0 0px; }
body.pagelayout-report .block .content { border-width: 0 0px; }

/* Mario */
.sitetopic {
	border: none;
	width: 97%;
	text-align: justify;
	/*font-size:11px!important;*/
}
.block { overflow:hidden }
.block_site_main_menu li .buttons a img { margin:0; }
img.icon { 	width: 15px; height: 15px; }
.region-content{ padding-top:15px !important; }

.block .header .commands .icon {padding:0 !important; margin-right:5px!important; }


input[name="combinedsubmit"] { margin-top: 7px; }

/* Ale */

.block_navigation .block_tree li.item_with_icon > p img, .block_navigation .block_tree .type_activity > p.tree_item.active_tree_node img, .block_navigation .block_tree li > p.hasicon img {
	vertical-align: middle;
	position: absolute;
	left: 0;
	width: 15px;
	height: 15px;
}

body.side-pre-only .addbloglink {
	margin-left: 59%!important;
}

.boxaligncenter {
	width: 95%;
}

#searchforums {
    margin-bottom: 3px !important;	
}

.navbar {
padding: 10px 50px;
}

.breadcrumb {
background-color: white!important;
}

#personsearch {
margin-top: 16px;
}


input:focus, textarea:focus {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=text], input[type=password], textarea {
width: auto;
}
input[type="text"]{
font-size: 11px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
behavior: url(/theme/fiware/css/pie.htc);
width:auto!important;
height:auto!important;
}

input[type=text], input[type=password], textarea {
width: 12.25em;
}

input, textarea, .uneditable-input {
margin-left: 0;
}
input, textarea {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}
input, textarea, select, .uneditable-input {
display: inline-block;
width: auto!important;
padding: 4px;
margin-bottom: 9px;
font-size: 11px;
line-height: 18px;
color: #555;
background-color: white;
border: 1px solid #CCC;
/*
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;*/
}
input[type=password] { font-family: Verdana!important; }

.block_online_users .content .info {

    padding-top: 10px;
}
.generalbox {

  padding-top: 10px;
}

/*
.invisiblefieldset {
	position: absolute!important;
	display: block!important;
	margin-top: 50px!important;
	width: 300px!important;
	margin-left: -3%!important;
}
.rememberusername{width:auto!important;}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	margin-left: 5%;
	margin-top: 78px!important;
	position: absolute!important;
	display: block!important;
	z-index:1000;
}
*/
