/* Custom CSS Settings */
-------------------------
[ [setting :customcss] ] body {
	
}

@font-face {
    font-family: "NeoTechStd_Regular";
    src: url("[[setting:fontwww]]NeoTechStd-Regular.otf");    
} 

@font-face {
    font-family: "NeoTechStd_Medium";
    src: url("[[setting:fontwww]]NeoTechStd-Medium.otf");    
} 

html {
	height: 100%;
}

a {
	color: #4db6c0;
}

a:hover, a:focus {
	color: auto;
}

.navbar .nav>li>a:hover {
	color: #fff;
	background: #f1f1f2;
}

#page-site-index {
	position: relative;
	/*padding-bottom: 70px;*/
}

.navbar-responsive-collapse {
	color: #233c68;
}

#header .header-main .header-main-menubar .navbar-text a, #header .header-main .header-main-menubar .nav a
	{
	color: #233c68;
}

.usermenu, .usermenu .login, .usermenu .login a, .usermenu .login a:hover,
	.usermenu .login a:focus {
	color: #233c68;
}

.loginbox h2 {
  text-transform: uppercase;
}

.usermenu {
	padding-top: 5px;
}

.navbar .nav>li>a:hover {
	color: #fff;
	background: auto;
}

.top-search {
	margin: 10px 0 0px;
}

#logo {
	padding-top: 11px;
	padding-left: 20px;
	width: auto !important;
	height: 33px !important;
}

#logo img {
	height: 33px !important;
	width: auto !important;
}

.header-main-content {
	/* background-color: #45d3dd!important; */
	background-color: #59c0d2 !important;
	padding: 0 0 0 !important;
	height: 55px;
}

.course_category_tree .category>.info>.categoryname {
	float:left;
	clear:left;
}
.course_category_tree .category>.info>.categoryname>a {
	color: #232323;
}

.course_category_tree .category>.info {
	border-bottom: thick solid #59c0d2;
	background: #f1f1f2 none repeat scroll 0 0;
	line-height:2.5em;
}

.categorydetail {
	right:0px;
}

.course_category_tree .category>.info:hover {
	text-decoration: underline;
}

.course_category_tree .category-1>.info {
	border-bottom: thick solid #0071bc;
	background: #d5e2ed none repeat scroll 0 0;
}

.categorypicker {
	text-align: left !important;
	display:'none';
}

.header-main-content .top-search {
	margin: 10px 0 0 !important;
}

.navbar-inner {
	background-color: #d5e2ed !important;
}

.page-navbar .nav li.dropdown>.dropdown-toggle .caret:before {
	font-family: FontAwesome;
	content: "\f107";
}

#page-header #page-navbar {
	background-color: #ffffff;
}

.floating-left {
	float: left !important;
	width: 50% !important;
}

.usermenu {
	padding-right: 10px;
}

.carousel-inner {
	background-color: #0071bc;
	border-bottom: 3px solid #59c0d2;
}

.coursesearchboxwhite {
	color: #ffffff;
}

.categorylist h2 {
	text-align: center;
	color:#59c0d2;
}

.course-content .topics h3 {
	font-size: 1.5em;
}

.carousel-overlay-content {
	display: block !important;
	height: auto;
}

.content-wrap {
	display: block !important;
	margin: auto !important;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px;
	background-color: #0071bc;
	min-height: 50px;
}

.content-wrap img {
	width: 100%;
	height: 385px;
}

.content-wrap h2 {
	font-family: "NeoTechStd_Regular" !important, Verdana, Geneva, sans-serif;
	color: #59c0d2 !important;
	background-color: #0071bc;
	margin: 0px 0px 30px;
}

.content-wrap h4 {
	font-family: "NeoTechStd_Regular" !important, Verdana, Geneva, sans-serif;				
	margin-top: 30px;
	color: #ffffff !important;
	background-color: #0071bc;
	/* text-align:right; */
	line-height: 30px;
}

.row-fluid {
	float: left;
}

.fp-coursebox .fp-courseinfo h5 a {
	color: #59c0d2 /*#233c68*/;
}

#site-news-forum h2, #frontpage-course-list h2,
	#frontpage-category-names h2, #frontpage-category-combo h2 {
	/* color: #233c68;*/
	/* color: #59c0d2;*/
	border-bottom: none;
	color: #59c0d2;
	font-weight: bolder;
	margin: 0 -15px 16px;
	padding: 31px 15px 3px;
	text-transform: uppercase;
	font-size:1.8em;
	line-height:20px;
}

.collapsible-actions {
	display: none;
	text-align: left;
	display: none !important;
}

.pattern {
	position: absolute;
	right: 0px;
	top: 0px;
}

.just-content-wrapper {
	width: auto;
	margin: auto !important;
	background-color: white;
	padding: 10px;
	/*	padding-right:40px!important;
	*/
}

ul, ol {
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding-left: 0px;
}

.content-wrap li {
	display: inline-block;
	list-style: outside none none;
	margin-right: 10px;
	text-align: center;
	vertical-align: top;
}

.reference li.catalogue a {
	background-position: -113px top;
}

.bg-white {
	background-color: #ffffff;
}

.reference li.tutorials a {
	background-position: -339px top;
}

#social_widget p {
	text-align: right;
	padding-top: 5px;
}

footer.footer div.span33 {
	width: 33.3%;
}

footer.footer {
	/*position: absolute;*/
	background-color: #fff;
	border-top: 1px solid #59c0d2;
	bottom: 0;
	height: 70px;
	width: 100%;
}

footer.footer #copyright {
	padding-top: 5px;
	width: 33.3%;
	text-align: left;
	float: left;
}

footer.footer #social-widget {
	padding-top: 15px;
	width: 33.3%;;
	text-align: center;
	float: left;
}

footer.footer #fiware-7fp {
	width: 33.3%;
	text-align: right;
	float: left;
}

footer.footer #fiware-7fp img {
	right: 0px;
	position: absolute;
}

.fp-coursebox {
	max-width: auto;
	position: relative;
	border: 3px solid #c0c0c0;
}

.fp-coursebox .fp-courseinfo {
	height: 150px;
}

.fp-coursebox h5 {
	font-size: 1.2em;
}

.fp-coursebox .readmore {
	position: absolute;
	text-align: center;
	bottom: 20px;
	left: calc(50% - 50px);
}

.fp-coursebox .readmore a {
	background: #59c0d2 none repeat scroll 0 0;
	color: #082d62;
	display: inline-block;
	line-height: 28px;
	padding: 0 10px;
}

.fp-coursebox .fp-coursethumb a img {
	height: 50px;
	width: 100%;
	vertical-align: middle;
}

#frontpage-course-list {
	display: in-block;
	background-color: white;
}

#frontpage-course-list .row-fluid {
	float: none;
}

.block .header {
	/* background: #59c0d2 none repeat scroll 0 0;*/
	background: #d5e2ed none repeat scroll 0 0;
}

.block .header H2 {
	/*color:#193b6b;*/
	color: #233c68;
}

.adminwarning {
	background-color: #d5e2ed !important
}

.just-content-wrapper {
	display: block;
}

.reference {
	min-height: 1px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	display: block;
}

.reference h2 {
	font-family: "NeoTechStd_Regular", Verdana, Geneva, sans-serif;
	border-bottom: 8px solid #fff;
	color: #59c0d2;
	font-weight: bolder;
	margin: 0 -15px 16px;
	padding: 31px 15px 3px;
	font-size:1.8em;
	line-height:20px;
}

.reference .p {
	margin-bottom: 20px;
	background-color: #fffff; /*#f1f1f2;*/
	display: block;
}

.reference ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.reference ul li {
	display: inline-block;
	list-style: outside none none;
	opacity: 0.9;
	padding: 20px;
	/* text-align: left;*/
	vertical-align: top;
	width: 25%;
}

.reference ul li.icon {
	width: auto;
}

.reference ul li img {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 150px;
	padding: 4px;
	margin: -18px auto 0 !important;
}

.reference ul li p, .reference ul li p:hover, .reference ul li p:focus {
	color: #656565;
}

li div.popup {
	display: none;
}

li:hover div.popup {
	display: block;
	position: absolute;
	top: 50px;
	background-color: #d5e2ed;
}

button, input.form-submit, input[type="button"], input[type="submit"],
	input[type="reset"], #notice .singlebutton+.singlebutton input, .submit.buttons input[name="cancel"]
	{
	background: #59c0d2 none repeat scroll 0 0 !important;
}

.sectionname {
	position:relative!important;
}
.usermenu .moodle-actionmenu .toggle-display {
	color: #233c68;
	height: auto;
	line-height: 36px;
}

.usermenu .moodle-actionmenu .toggle-display:hover {
	color: #233c68;
}

.jsenabled .usermenu .moodle-actionmenu.show .toggle-display {
	color: #233c68;
}

.jsenabled .usermenu .moodle-actionmenu.show .toggle-display:hover {
	color: #233c68;
}

.moodle-actionmenu.show[data-enhanced] .menu a {
	color: #233c68;
}

.usermenu .moodle-actionmenu .toggle-display:hover, .usermenu .moodle-actionmenu .toggle-display:focus
	{
	text-decoration: underline;
}

.jsenabled #header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret
	{
	border-top-color: #232c68;
}

.no-overflow span {
	color: #656565 !important;
	font-family: verdana !important;
}

.block_navigation .block_tree .active_tree_node a, .block_settings .block_tree .active_tree_node a
	{
	color: #59c0d2;
}

h3.coursename {
	font-size: 1.5em;
}

.coursebox .content {
	min-height: auto;
}

.coursebox .content .summary, .coursebox .content .coursecat {
	padding: 0 0 0 20px;
}

label {
	display: inline-block;
}

.coursebox .moreinfo {
	float: right;
	right: 0;
	top: 0;
	position: relative;
}
.category .moreinfo {
  float: right;
  position: relative;
  margin-right:10px;
}

.course_category_tree .category .numberofcourse {
	color: #656565;
	font-size: 12px;
}

.reference ul li {
	display: inline-block;
	list-style: outside none none;
	opacity: 0.9;
	padding: 20px;
	vertical-align: top;
	width: 25%;
}

.page-layout.course #region-bs-main-and-pre .row-fluid .span9{
	width:100%;
}

.banner {
  background-image: url([[pix:theme|banner]]);
  color:#ffffff;
}

.course-content .topics .section .summary .no-overflow {
 color:inherit;
}
.course-content .topics .section .summary .no-overflow p{
 color:inherit;
 text-align: justify;
}

.course-content .topics .section .activity .activityinstance a .instancename {
	font-size:1em;
}

/************************************/
/*** upd 27/07/2016 ivan lucchesi ***/
/************************************/
/**************START*****************/

.policyfiware {
	width:	100%;
	text-align: center;
}

.policyfiwarebox {
	color: #3a87ad;
	line-height: 24px;
	background: #ffebfc;
	padding: 10px 20px;
	border: 1px solid #bce8f1;
	border-radius: 5px;
	margin: 27px auto;
}


@media (max-width: 600px) {
  .policyfiwarebox {
	width:	90%;
  }
}

@media (min-width: 601px) {
  .policyfiwarebox {
	width:	35%;
  }
}

div#fitem_id_city 	{display: none;}
div#fitem_id_country {display: none;}
div#fitem_id_description_editor {display: none;}

fieldset#id_moodle_picture {display: none;}
fieldset#id_moodle_additional_names {display: none;}
fieldset#id_moodle_interests {display: none;}
fieldset#id_moodle_optional {display: none;}

/************** END *****************/

