
/* Header 
-------------------------*/


#page-header { float:none; height:175px; background: none!important;  }
#page-header .headermain { margin:0.75em 0;font-size:2em; }
#page-header .headermenu a:hover { color:#0093C6; }


#page-site-index .headermain { margin:0.85em 0;font-size:2.5em; }
#course-header { margin:0 50px; }

/* Menu Navigation 
--------------------------*/

#page-navigation { margin:0;padding:0 0px;font-size:1.1em; }
#page-navigation li { list-style:none;float:left; }
#page-navigation a { display:block;padding:5px 10px; }


/* Breadcrumb 
---------------------------*/

.navbar { padding:3px 50px; }
.navbar .breadcrumb { font-size:0.8em;color:#555; }

/* Content 
---------------------------*/

#page-content-wrapper { margin:10px 50px; }

/* Tabs 
---------------------------*/

.tabtree .tabrow0 li.here a { background:#fff url([[pix:theme|gradient-sb]]) repeat-x 0 0; }
.tabtree .tabrow0 .tabrow1 li a {background: none !important;}

/* User
---------------------------*/

.userinfobox .content {border-width: 2px;background: url([[pix:theme|gradient-sb]]) repeat-x 0 0; }

/* Forms
------------------------*/

.mform fieldset {border-color: #ddd;}
.mform legend {border: 1px solid #ddd;padding: 2px 7px;background: url([[pix:theme|gradient-sb]]) repeat-x 0 -25%;}

/* Footer
--------------------------*/

#page-footer { margin:25px 0; }
#page-footer .logininfo  { margin: 1em 0; }

#course-footer { margin:0 50px; }

/* custum menu */
#custommenu {
    margin:0 50px;
}

#custommenu,
#custommenu .yui3-menu,
#custommenu .yui3-menu-content {
    border-width:0;
}

#custommenu {
    background:url([[pix:theme|gradient-sb]]) repeat-x 0 30%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #DBDFE2;
    border-right: 1px solid #DBDFE2;
}

#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content {
    border-width:0;
}

#custommenu .yui3-menu-content .yui3-menu-content {
    border: 1px solid #ccc;
    border-top-width: 0;
    margin-top: 3px;
}

#custommenu .yui3-menu-content .yui3-menu-content .yui3-menu-content {
    border-top: 1px solid #ccc;
}

#custommenu .yui3-menu-content .yui3-menu-content .yui3-menuitem-content,
#custommenu .yui3-menu-content .yui3-menu-content .yui3-menu-label {
    padding-top: 5px;
}

#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content {
    color:#0093c6;
}

#custommenu .yui3-menu .yui3-menuitem-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #0093c6;
}

#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active .yui3-menuitem-content {
    color:#FFF;
}

#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content {
    border-width:0;
}
/* link My private file in My profile */
a[href*="user/files.php"] {
	display: none;
}
a[href*="calendar/view.php?view=month"] {
	display: none;
}
.block_private_files{
	display: none !important;
}
/* link Tags menu sx */
a[href*="tag/search.php"] {
	display: none;
}